{% extends 'visualization/dashboard.html' %}
{% load staticfiles %}
{% block title %}
    <title>Mapa de Paraderos - TranSapp</title>
{% endblock title %}

{% block topimports %}

    <!-- Select2 -->
    <link href="{% static 'components/gentelella/vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css"/>

{% endblock topimports %}

{% block toptiles %}
{% endblock toptiles %}

{% block maincontent %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_title">
                <h2 style="margin-top: 24px;">Mapa de Paraderos</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dashboard-widget-content">
                    <div id="filters" class="container">
                        <div class="form">
                            <div class="row form-inline">
                                <div class='col-sm-4 col-xs-12'>
                                    <div class="form-group">
                                        <label for="date_init">Fecha Inicio:</label>
                                        <input type='text' class="form-control"
                                               id="date_init"/>
                                    </div>
                                </div>
                                <div class='col-sm-4 col-xs-12'>
                                    <div class="form-group">
                                        <label for="date_end">Fecha Fin:</label>
                                        <input type='text' class="form-control"
                                               id="date_end"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div id="map_id" style="margin-top: 20px; height: 600px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock maincontent %}

{% block bottomimports %}
    <!-- bootstrap-datetimepicker -->
    <script src="{% static 'components/gentelella/vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'components/gentelella/vendors/moment/locale/es.js' %}"></script>
    <script src="{% static 'components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>

    <!-- Select2 -->
    <script src="{% static 'components/gentelella/vendors/select2/dist/js/select2.full.min.js' %}"></script>

    <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

    <!-- TranSapp baseline -->
    <script src="{% static 'carrier/js/baseline.js' %}"></script>

    <!-- This view -->
    <script src="{% static 'carrier/js/busStopMap.js' %}"></script>

{% endblock bottomimports %}
