{% extends 'visualization/dashboard.html' %}
{% load staticfiles %}
{% block title %}
<title>Test Mapa</title>
{% endblock title %}

{% block topimports %}
<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css"/>
<!-- Marker Cluster Style -->
<link href="{% static 'components/leaflet.markercluster/dist/MarkerCluster.css' %}" rel="stylesheet">
<!-- Leaflet Scripts -->
<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
<!-- markercluster Script -->
<script src="{% static 'components/leaflet.markercluster/dist/leaflet.markercluster.js' %}"></script>
<style>
    .map {
        height: 400px;
    }
</style>
{% endblock topimports %}

{% block toptiles %}
{% endblock toptiles %}

{% block maincontent %}
{% endblock maincontent %}

{% block bottomimports %}
{% endblock bottomimports %}