{% extends 'visualization/dashboard.html' %}
{% load staticfiles %}
{% block title %}
<title>Test Mapa</title>
{% endblock title %}

{% block topimports %}
<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css"/>
<!-- Marker Cluster Style -->
<link href="{% static 'components/leaflet.markercluster/dist/MarkerCluster.css' %}" rel="stylesheet">
<!-- Leaflet Scripts -->
<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

<script src="{% static 'js/Leaflet.GTFS.js' %}"></script>

<!-- markercluster Script -->
<script src="{% static 'components/leaflet.markercluster/dist/leaflet.markercluster.js' %}"></script>
<script src="http://200.9.100.91:8080/gpsonline/static/js/Leaflet.polylineDecorator.js"></script>

<style>
    .map {
        height: 600px;
    }
</style>
{% endblock topimports %}

{% block toptiles %}
{% endblock toptiles %}

{% block maincontent %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Mapa</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dashboard-widget-content">
                    <div class="container">

                        <div class="container-fluid" style="height: 100%;min-height: 100%">
                            <div class="row" style="height: 100%;min-height: 100%">
                                <div class="col-md-3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Servicio</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-inline">
                                                <input id="serviceCode1" type="text" class="form-control"
                                                       placeholder="Ingresar servicio aquí...">
                                                <label class="radio-inline">
                                                    <input type="radio" name="direction1" id="optionsRadios1" value="R"
                                                           checked>
                                                    REGRESO
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="direction1" id="optionsRadios2" value="I">
                                                    IDA
                                                </label>
                                                <hr/>
                                                <input type="button" id="seeBuses1" value="Ver servicio"
                                                       class="btn btn-default"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9" style="height: 100%;min-height: 100%">
                                    <div id="mapid" class="map">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock maincontent %}

{% block bottomimports %}
<!--<script>

    var map;
    map = L.map('mapa').setView([-33.45, -70.65], 11);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'transappvis.1gj7fib9',
        accessToken: 'pk.eyJ1IjoidHJhbnNhcHB2aXMiLCJhIjoiY2l0bG9qd3ppMDBiNjJ6bXBpY3J0bm40cCJ9.ajifidV4ypi0cXgiGQwR-A'
    }).addTo(map);
    //var markers = L.markerClusterGroup();
    for (var i = 0; i < data.length; i++) {
        L.marker([data[i].longitude, data[i].latitude]).addTo(map).bindPopup(data[i].eyeColor);
    }
</script>-->
<script src="{% static 'js/maptest.js' %}"></script>
{% endblock bottomimports %}