{% extends 'visualization/dashboard.html' %}
{% load staticfiles %}
{% block title %}
<title>Página administración METBUS </title>
{% endblock title %}

{% block topimports %}
<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css"/>
<!-- Marker Cluster Style -->
<link href="{% static 'components/leaflet.markercluster/dist/MarkerCluster.css' %}" rel="stylesheet">
<!-- Leaflet Scripts -->
<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
<!-- jQuery -->
<script src="{% static 'components/gentelella/vendors/jquery/dist/jquery.min.js' %}"></script>
<!-- DataTables -->
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/v/bs/dt-1.10.12/r-2.1.0/datatables.min.css"/>

{% endblock topimports %}

{% block toptiles %}
<div id="headers" class="row tile_count">
</div>
{% endblock toptiles %}

{% block maincontent %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Reportes diarios</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="example" class="table table-striped table-bordered dt-responsive nowrap"
                       cellspacing="0" width="100%"></table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmación</h4>
            </div>
            <div class="modal-body">
                <h5>Confirmar el arreglo</h5>
                <p id="confirmationtext"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="fix()">Confirmar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
{% endblock maincontent %}

{% block bottomimports %}
    <!-- DataTables -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/r-2.1.0/datatables.min.js"></script>

    <script>
        function headers() {
            var Dataurl = "http://" + location.host + "/carriers/getPhysicalHeaders/";
            $.getJSON(Dataurl)
                    .done(function (data) {
                        var html = ''
                        $.each(data, function (key, number) {
                            html += '<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">';
                            html += '<span class="count_top"><i class="fa fa-user"></i>' + key + '</span>';
                            html += '<div class="count" style="text-align:center">' + number + '</div>'
                            html += '</div>'
                        });
                        $("#headers").html(html);
                    });
        }
        headers();
        var id;
        var text;
        var table;
        $(document).ready(function () {
            table = $('#example').DataTable({
                "pageLength": 100,
                responsive: true,
                ajax: 'http://' + location.host + '/carriers/getPhysicalTable/',
                columns: [
                    {title: "Reporte", data: 'type'},
                    {title: "Patente", data: 'plate'},
                    {title: "Fecha", data: 'timeCreation'},
                    {
                        title: "Arreglar",
                        data: null,
                        "defaultContent": "<button type='button' class='btn-xs btn-primary' id='si'>Arreglar</button>"
                    },
                ],
                language: {
                    "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Spanish.json"
                }
            });

        $('#example tbody').on('click', 'button', function () {
            var data = table.row($(this).parents('tr')).data();
            id = data.id;
            console.log(data)
            $('#confirmationtext').html('Reporte: ' + data.type + '<br>Patente: ' + data.plate)
            $("#myModal").modal()
        });

    });
    function fix() {
        var url = "http://" + location.host + "/carriers/updatePhysical/";
        $.getJSON(url, {"id": id})
                .done(function (data) {
                    if (data == 'True') {
                        table.ajax.reload();
                    }
                });
    }
</script>
{% endblock bottomimports %}