{% extends 'visualization/dashboard.html' %}
{% load staticfiles %}
{% block title %}
<title>Página administración METBUS </title>
{% endblock title %}

{% block topimports %}
<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css"/>
<!-- Marker Cluster Style -->
<link href="{% static 'components/leaflet.markercluster/dist/MarkerCluster.css' %}" rel="stylesheet">
<!-- Leaflet Scripts -->
<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
<!-- jQuery Script -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<!-- markercluster Script -->
<script src="{% static 'components/leaflet.markercluster/dist/leaflet.markercluster.js' %}"></script>
<style>
    .map {
        height: 400px;
    }
</style>
{% endblock topimports %}

{% block toptiles %}
<div id="headers" class="row tile_count">
</div>
{% endblock toptiles %}

{% block maincontent %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Reportes</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dashboard-widget-content">

                    <ul id="reports" class="list-unstyled timeline widget">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock maincontent %}

{% block bottomimports %}
<script>
    var Dataurl = "http://" + location.host + "/carriers/getFreeReport/"
    $.getJSON(Dataurl)
            .done(function (data) {
                var html = ''
                $.each(data, function (index, el) {
                    html += '<li> <div class="block"> <div class="block_content"> <h2 class="title">';
                    html += '<a><span>A las </span><a>' + el.timeStamp + '</a></a>  </h2> <br> <p class="excerpt">';
                    html += el.message + '<br>' + el.reportInfo + '<br>' + el.imageName;
                    html += '<span class="pull-right"><button type="button" class="btn btn-primary">Responder</button></span>';
                    html += '</div> </div> </li>'
                });
                $("#reports").html(html);
            });
</script>
{% endblock bottomimports %}




