{% extends "admin/base_site.html" %}
{% load staticfiles header inline_input columns panel %}
{% block title %}Usuarios Activos - TranSapp{% endblock title %}

{% block css %}
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <!-- Daterangepicker -->
        <link href="{% static gentelella_static|add:'bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
        <!-- Select2 -->
        <link href="{% static gentelella_static|add:'select2/dist/css/select2.min.css' %}" rel="stylesheet">
    {% endwith %}
    <!-- Leaflet -->
    <link href="{% static "components/leaflet/dist/leaflet.css" %}" rel="stylesheet">
    <!-- C3 -->
    <link href="{% static 'components/c3/c3.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        {% header "Usuarios activos por día" %}

        {% inline_input "Rango de días" "dateRange" as input1 %}
        {% columns 3 6 12 input1 as col1 %}

        {% panel "fa-filter" "Filtro" col1 %}

        {% with chart="<div id='chart'></div>" %}
            {% panel "" "" chart %}
        {% endwith %}
    </div>
</div>
{% endblock %}

{% block extrajs %}
    <!-- C3 -->
    <script src="{% static 'components/c3/c3.min.js' %}"></script>
    <script src="{% static 'components/d3/d3.min.js' %}"></script>

    {% with "components/gentelella/vendors/" as gentelella_static %}
        <!-- bootstrap-datetimepicker -->
        <script src="{% static gentelella_static|add:'moment/min/moment.min.js' %}"></script>
        <script src="{% static gentelella_static|add:'moment/locale/es.js' %}"></script>
        <script src="{% static gentelella_static|add:'bootstrap-daterangepicker/daterangepicker.js' %}"></script>

        <!-- Select2 -->
        <script src="{% static gentelella_static|add:'select2/dist/js/select2.full.min.js' %}"></script>
    {% endwith %}
    <script src="{% static 'js/dateRangePickerOpt.js' %}"></script>
    <script src="{% static 'carrier/js/activeUsers.js' %}"></script>
{% endblock %}


