{% extends "admin/base_site.html" %}
{% load staticfiles header panel columns inline_input inline_select update_button %}
{% block title %}Visualizador TranSapp{% endblock %}

{% block css %}
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <!-- Daterangepicker -->
        <link href="{% static gentelella_static|add:'bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
        <!-- Select2 -->
        <link href="{% static gentelella_static|add:'select2/dist/css/select2.min.css' %}" rel="stylesheet">
    {% endwith %}

    <!-- Leaflet -->
    <link href="{% static "components/leaflet/dist/leaflet.css" %}" rel="stylesheet">

    <!-- groupedlayercontrol Script -->
    <link href="{% static 'components/leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.css' %}"
          rel="stylesheet">

    <style>
        .map {
            height: 600px;
        }
        .leaflet-control-layers-group-name {
            font-size: 150%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% header "Mapa de reportes" %}

            {% inline_input "Rango de días" "dateRange" as input1 %}
            {% columns 3 6 12 input1 as col1 %}

            {% inline_select "Recorrido(s)" "routes" routes as select_input1 %}
            {% columns 3 6 12 select_input1 as col2 %}

            {% inline_select "Patente(s) <span class='badge'>*Solo patentes que contienen datos</span>" "licensePlates" licensePlates as select_input2 %}
            {% columns 3 6 12 select_input2 as col3 %}

            {% inline_select "Comuna(s)" "communes" communes as select_input3 %}
            {% columns 3 6 12 select_input3 as col4 %}

            {% update_button "btnUpdateData" "Actualizar datos" as button %}
            {% columns 12 12 12 button as row1 %}

            {% panel "" "" col1|add:col2|add:col3|add:col4|add:row1 %}

            {% with map='<div id="mapid" class="map"></div>' %}
                {% panel "" "" map %}
            {% endwith %}
        </div>
    </div>
{% endblock %}

{% block extrajs %}

    {% with "components/gentelella/vendors/" as gentelella_static %}
        <!-- bootstrap-daterangepicker -->
        <script src="{% static gentelella_static|add:'moment/min/moment.min.js' %}"></script>
        <script src="{% static gentelella_static|add:'moment/locale/es.js' %}"></script>
        <script src="{% static gentelella_static|add:'bootstrap-daterangepicker/daterangepicker.js' %}"></script>

        <!-- Select2 -->
        <script src="{% static gentelella_static|add:'select2/dist/js/select2.full.min.js' %}"></script>
    {% endwith %}

    <!-- Leaflet -->
    <script src="{% static 'components/leaflet/dist/leaflet.js' %}"></script>
    <script src="{% static 'components/leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.js' %}"></script>
    <script src="{% static 'carrier/js/Leaflet.GTFS.js' %}"></script>

    <script src="{% static 'js/dateRangePickerOpt.js' %}"></script>

    <script src="{% static 'carrier/js/busMap.js' %}"></script>
{% endblock %}
