{% extends "admin/base_site.html" %}
{% load staticfiles header panel columns inline_input bubble_message %}
{% block title %}Mapa de Vistas de Paraderos - TranSapp{% endblock title %}

{% block css %}
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <!-- Daterangepicker -->
        <link href="{% static gentelella_static|add:'bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
        <!-- Select2 -->
        <link href="{% static gentelella_static|add:'select2/dist/css/select2.min.css' %}" rel="stylesheet">
    {% endwith %}

    <!-- toggle button -->
    <link href="{% static "components/bootstrap-toggle/css/bootstrap-toggle.min.css" %}" rel="stylesheet">

    <!-- Leaflet -->
    <link href="{% static "components/leaflet/dist/leaflet.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% header "Mapa de Vistas de Paraderos" %}

            {% bubble_message "Las consultas de paraderos son estimadas mediante los eventos de inicio o cierre de la aplicación. Puede usar el botón superior para modificar el comportamiento." "Advertencia:" "info" %}

            {% inline_input "Rango de días" "dateRange" as input1 %}
            {% columns 4 4 12 input1 as col1 %}

            {% with toggle='<input id="toggle-button" data-height="57" data-toggle="toggle" data-size="large" type="checkbox" data-on="Según inicio de app" data-off="Según cierre de app" data-onstyle="primary" data-offstyle="warning" data-width="200px" >' %}
                {% columns 8 8 12 toggle as col2 %}
                {% panel "fa-filter" "Filtro" col1|add:col2 %}
            {% endwith %}

            {% with map='<div id="map_id" style="margin-top: 20px; height: 550px;"></div>' %}
                {% panel "" "" map %}
            {% endwith %}
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <!-- bootstrap-daterangepicker -->
        <script src="{% static gentelella_static|add:'moment/min/moment.min.js' %}"></script>
        <script src="{% static gentelella_static|add:'moment/locale/es.js' %}"></script>
        <script src="{% static gentelella_static|add:'bootstrap-daterangepicker/daterangepicker.js' %}"></script>

        <!-- Select2 -->
        <script src="{% static gentelella_static|add:'select2/dist/js/select2.full.min.js' %}"></script>
    {% endwith %}
    <!-- bootstrap button -->
    <script src="{% static "components/bootstrap-toggle/js/bootstrap-toggle.min.js" %}"></script>
    <!-- Leaflet -->
    <script src="{% static "components/leaflet/dist/leaflet.js" %}"></script>
    <script src="{% static "js/mapFunctions.js" %}"></script>
    <script src="{% static "js/dateRangePickerOpt.js" %}"></script>
    <!-- This view -->
    <script src="{% static 'carrier/js/busStopViewsMap.js' %}"></script>
{% endblock %}
