{% extends "admin/base_site.html" %}
{% load staticfiles header panel inline_input columns %}
{% block title %}Reportes Libres de Paraderos - TranSapp{% endblock %}

{% block css %}
    <!-- Leaflet -->
    <link href="{% static "components/leaflet/dist/leaflet.css" %}" rel="stylesheet" />

    {% with "components/gentelella/vendors/" as gentelella_static %}
        <!-- Daterangepicker -->
        <link href="{% static gentelella_static|add:'bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
        <!-- Select2 -->
        <link href="{% static gentelella_static|add:'select2/dist/css/select2.min.css' %}" rel="stylesheet">
        <!-- DataTables -->
        <link href="{% static gentelella_static|add:"datatables.net-bs/css/dataTables.bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static gentelella_static|add:"datatables.net-buttons-bs/css/buttons.bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static gentelella_static|add:"datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static gentelella_static|add:"datatables.net-responsive-bs/css/responsive.bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static gentelella_static|add:"datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %}" rel="stylesheet">
    {% endwith %}

    <style>
        #modal-map-leaflet { height: 380px; }
    </style>
{% endblock %}

{% block toptiles %}
    <div id="headers" class="row tile_count">
    </div>
{% endblock toptiles %}

{% block content %}
    <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        {% header "Reportes Libres de Paraderos" %}

        {% inline_input "Rango de días" "dateRange" as input1 %}
        {% columns 4 4 12 input1 as column1 %}
        {% panel "fa-filter" "Filtros" column1 %}

        {% with table='<table id="bus-stop-reports-table" class="table table-striped table-bordered table-hover nowrap" cellspacing="0" width="100%"></table>' %}
            {% panel "" "" table %}
        {% endwith %}

        <div class="modal fade" role="dialog" id="modal-image-view">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Imagen del Evento</h4>
                </div>
                <div class="modal-body">
                    <div id="modal-image-content"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        Salir
                    </button>
                </div>
            </div>
        </div>
    </div>
        <div class="modal fade" role="dialog" id="modal-map-view">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ubicación del usuario y paradero</h4>
                </div>
                <div class="modal-body">
                    <div id="modal-map-content-top"></div>
                    <div id="modal-map-leaflet"></div>
                    <p style="margin-top: 10px;">
                        Distancia del usuario al paradero: <span id="modal-map-distance-info"></span> metros.
                    </p>
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Paradero</th>
                                    <th>Usuario</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Latitud</th>
                                    <td id="modal-bus-stop-lat"></td>
                                    <td id="modal-bus-stop-lon"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Longitud</th>
                                    <td id="modal-user-lat"></td>
                                    <td id="modal-user-lon"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        Salir
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}

{% block extrajs %}
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <!-- bootstrap-datetimepicker -->
        <script src="{% static gentelella_static|add:'moment/min/moment.min.js' %}"></script>
        <script src="{% static gentelella_static|add:'moment/locale/es.js' %}"></script>
        <script src="{% static gentelella_static|add:'bootstrap-daterangepicker/daterangepicker.js' %}"></script>

        <!-- Select2 -->
        <script src="{% static gentelella_static|add:'select2/dist/js/select2.full.min.js' %}"></script>

        <!-- Datatables -->
        <script src="{% static gentelella_static|add:"datatables.net/js/jquery.dataTables.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-buttons/js/dataTables.buttons.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-buttons-bs/js/buttons.bootstrap.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-buttons/js/buttons.flash.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-buttons/js/buttons.html5.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-buttons/js/buttons.print.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-responsive/js/dataTables.responsive.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-responsive-bs/js/responsive.bootstrap.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-scroller/js/dataTables.scroller.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"jszip/dist/jszip.min.js" %}"></script>
    {% endwith %}

    <!-- DataTables -->
    <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.13/dataRender/ellipsis.js"></script>

    <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

    <!-- TranSapp map -->
    <script src="{% static 'js/mapFunctions.js' %}"></script>
    <script src="{% static 'js/dateRangePickerOpt.js' %}"></script>

    <!-- This view -->
    <script src="{% static 'carrier/js/busStopReports.js' %}"></script>

{% endblock %}
