{% extends "admin/base_site.html" %}
{% load staticfiles header panel inline_input inline_select columns %}
{% block title %}Visualizador TranSapp{% endblock title %}

{% block css %}
    <!-- Leaflet -->
    <link href="{% static "components/leaflet/dist/leaflet.css" %}" rel="stylesheet" />
    <!-- C3 -->
    <link href="{% static 'components/c3/c3.min.css' %}" rel="stylesheet">
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <!-- Datetimepicker -->
        <link href="{% static gentelella_static|add:'bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
        <!-- Select2 -->
        <link href="{% static gentelella_static|add:'select2/dist/css/select2.min.css' %}" rel="stylesheet">
    {% endwith %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        {% header "Reportes de comportamiento del conductor" %}

        <div class='x_panel'>
            <div class="x_title">
                <h2><i class="fa fa-filter"></i> Filtros</h2>
                <div class="clearfix"></div>
             </div>
            <div id="filters" class="container">
                <div class="row">
                    {% inline_input "Rango de días" "dateRange" as input1 %}
                    {% columns 4 4 12 input1 %}

                    {% inline_select "Recorrido(s)" "routes" services as select_input1 %}
                    {% columns 4 4 12 select_input1 %}

                    {% inline_select "Patente(s) <span class='badge'>*Solo patentes que contienen datos</span>" "licensePlates" plates as select_input2 %}
                    {% columns 4 4 12 select_input2 %}
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="ln_solid"></div>
                <button id="btnUpdateData" class="btn btn-success btn-round">Actualizar datos</button>
            </div>
        </div>
        <div class="container">
            Agrupar por:
            <div id="group" class="btn-toolbar" role="toolbar" data-toggle="buttons">
                <div class="btn-group">
                    <!--<label class="btn btn-default active">
                        <input type="radio" name="groups" value="weekday" checked> Dia semana
                    </label>-->
                    <!--<label class="btn btn-default ">
                        <input type="radio" name="groups" value="plate"> Patente
                    </label>-->
                    <!--<label class="btn btn-default ">
                        <input type="radio" name="groups" value="service"> Recorrido
                    </label>-->
                    <label class="btn btn-default active">
                        <input type="radio" name="groups" value="daytype" checked> Tipo de día
                    </label>
                    <!--<label class="btn btn-default ">
                        <input type="radio" name="groups" value="periodHour"> Periodos media hora
                    </label>-->
                    <label class="btn btn-default ">
                        <input type="radio" name="groups" value="periodTransantiago"> Periodo Transantiago
                    </label>
                </div>
                <div class="btn-group">
                    <label class="btn btn-default "><input type="radio" name="groups" value="daily"> Dia</label>
                    <label class="btn btn-default "><input type="radio" name="groups" value="monthly"> Mes</label>
                    <label class="btn btn-default "><input type="radio" name="groups" value="yearly"> Año</label>
                </div>
            </div>
            <hr>
            <div id="chart"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <!-- bootstrap-datetimepicker -->
        <script src="{% static gentelella_static|add:'moment/min/moment.min.js' %}"></script>
        <script src="{% static gentelella_static|add:'moment/locale/es.js' %}"></script>
        <script src="{% static gentelella_static|add:'bootstrap-daterangepicker/daterangepicker.js' %}"></script>
        <!-- Select2 -->
        <script src="{% static gentelella_static|add:'select2/dist/js/select2.full.min.js' %}"></script>
    {% endwith %}
    <script src="{% static 'components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
    <!-- C3 -->
    <script src="{% static 'components/c3/c3.min.js' %}"></script>
    <script src="{% static 'components/d3/d3.min.js' %}"></script>
    <!-- spin js -->
    <script src="{% static 'components/spin.js/spin.min.js' %}"></script>
    <script src="{% static 'js/spinnerOpt.js' %}"></script>

    <script src="{% static 'carrier/js/drivers.js' %}"></script>
{% endblock %}


