{% extends "admin/base_site.html" %}
{% load staticfiles header panel inline_input inline_select columns update_button %}
{% block title %}Visualizador TranSapp{% endblock title %}

{% block css %}
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <!-- Select2 -->
        <link href="{% static gentelella_static|add:'select2/dist/css/select2.min.css' %}" rel="stylesheet">
        <!-- Daterangepicker -->
        <link href="{% static gentelella_static|add:'bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
    {% endwith %}

    <!-- C3 -->
    <link href="{% static 'components/c3/c3.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- {% header "Reportes de estado físico" %} -->
    <h4>Eventos sin arreglar de los últimos 3 meses</h4>
    <div id="headers" class="row tile_count">
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

            {% inline_input "Rango de días" "dateRange" as input1 %}
            {% columns 4 4 12 input1 as first_element %}

            {% inline_select "Patente(s) <span class='badge'>*Solo patentes que contienen datos</span>" "licensePlates" plates as select_input2 %}
            {% columns 4 4 12 select_input2 as second_element %}

            {% update_button "btnUpdateData" "Actualizar datos" as button %}
            {% columns 12 12 12 button as third_element %}

            {% panel "fa-filter" "Filtros" first_element|add:second_element|add:third_element %}

            <div class="container">
                Agrupar por:
                <div id="group" class="btn-toolbar" role="toolbar" data-toggle="buttons">
                    <div class="btn-group">
                        <!--<label class="btn btn-default active">
                            <input type="radio" name="groups" value="weekday" checked> Dia semana
                        </label>-->
                        <!--<label class="btn btn-default ">
                            <input type="radio" name="groups" value="plate"> Patente
                        </label>-->
                        <!--<label class="btn btn-default ">
                            <input type="radio" name="groups" value="service"> Recorrido
                        </label>-->
                    </div>
                    <div class="btn-group">
                        <label class="btn btn-default active">
                            <input type="radio" name="groups" value="daily" checked> Dia
                        </label>
                        <label class="btn btn-default ">
                            <input type="radio" name="groups" value="monthly"> Mes
                        </label>
                        <label class="btn btn-default ">
                            <input type="radio" name="groups" value="yearly"> Año
                        </label>
                    </div>
                </div>
                <hr>
                <div id="chart"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <!-- C3 -->
    <script src="{% static 'components/c3/c3.min.js' %}"></script>
    <script src="{% static 'components/d3/d3.min.js' %}"></script>

    {% with "components/gentelella/vendors/" as gentelella_static %}
        <!-- bootstrap-datetimepicker -->
        <script src="{% static gentelella_static|add:'moment/min/moment.min.js' %}"></script>
        <script src="{% static gentelella_static|add:'moment/locale/es.js' %}"></script>
        <script src="{% static gentelella_static|add:'bootstrap-daterangepicker/daterangepicker.js' %}"></script>
        <!-- Select2 -->
        <script src="{% static gentelella_static|add:'select2/dist/js/select2.full.min.js' %}"></script>
    {% endwith %}

    <script src="{% static 'js/dateRangePickerOpt.js' %}"></script>

    <script src="{% static 'carrier/js/physical.js' %}"></script>
{% endblock %}