{% extends "admin/base_site.html" %}
{% load staticfiles header panel columns inline_input %}
{% block title %}Tabla de Actividad de Usuarios - TranSapp{% endblock title %}

{% block css %}
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <!-- Daterangepicker -->
        <link href="{% static gentelella_static|add:'bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
        <!-- Select2 -->
        <link href="{% static gentelella_static|add:'select2/dist/css/select2.min.css' %}" rel="stylesheet">
        <!-- DataTables -->
        <link href="{% static gentelella_static|add:"datatables.net-bs/css/dataTables.bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static gentelella_static|add:"datatables.net-buttons-bs/css/buttons.bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static gentelella_static|add:"datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static gentelella_static|add:"datatables.net-responsive-bs/css/responsive.bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static gentelella_static|add:"datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %}" rel="stylesheet">
    {% endwith %}
{% endblock  %}

{% block content %}
    <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        {% header "Tabla de actividad de usuarios" %}

        <div class="row alert alert-default">
            <small>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p>En la tabla se presenta un conteo de distintas actividades realizadas por los usuarios dentro
                    de la aplicación: reportes realizados, eventos creados, eventos votados y vistas de paraderos.
                    Además, se indica los puntos GPS enviados y viajes realizados. Para evitar tener una tabla
                    innecesariamente ancha se abreviaron algunos campos. Los campos mostrados son los siguientes:</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <ul>
                    <li><strong>Dispositivo:</strong> ID del dispositivo que realiza las actividades.</li>
                    <li><strong>Viajes:</strong> Cantidad de viajes realizados.</li>
                    <li><strong>GPS:</strong> Cantidad de puntos GPS de las trayectorias recorridas.</li>
                    <li><strong>R:</strong> Cantidad de reportes libres generados (Paraderos y Buses).</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <ul>
                    <li><strong>ECB:</strong> Cantidad de eventos reportados para buses.</li>
                    <li><strong>ECP:</strong> Cantidad de eventos reportados para paraderos.</li>
                    <li><strong>B+:</strong> Votos positivos a eventos reportados para buses.</li>
                    <li><strong>B-:</strong> Votos negativos a eventos reportados para buses.</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <ul>
                    <li><strong>P+:</strong> Votos positivos a eventos reportados para paraderos.</li>
                    <li><strong>P-:</strong> Votos negativos a eventos reportados para paraderos.</li>
                    <li><strong>VP:</strong> Vistas de paraderos</li>
                </ul>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p><span class="label label-warning">Importante:</span> Los datos mostrados sólo consideran el
                    rango de fechas seleccionado.</p>

                <p><span class="label label-warning">Importante:</span> Algunos datos son enviados
                    reitaradamente por la aplicación durante cada uso, por lo que campos como <strong>VP</strong>
                    se pueden ver aumentados. Tanto <strong>VP</strong> como <strong>GPS</strong> son datos
                    enviados generalmente cada 3 segundos, mientras la aplicación esté activa.
                </p>
            </div>
            </small>
        </div>

        {% inline_input "Rango de días" "dateRange" as input1 %}
        {% columns 4 4 12 input1 as col1 %}
        {% panel "fa-filter" "Filtro" col1 %}

        {% with table='<table id="datatable" class="table table-striped table-bordered table-hover nowrap" cellspacing="0" width="100%"></table>' %}
            {% panel "" "" table %}
        {% endwith %}
    </div>
    </div>
{% endblock %}

{% block extrajs %}
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <!-- bootstrap-daterangepicker -->
        <script src="{% static gentelella_static|add:'moment/min/moment.min.js' %}"></script>
        <script src="{% static gentelella_static|add:'moment/locale/es.js' %}"></script>
        <script src="{% static gentelella_static|add:'bootstrap-daterangepicker/daterangepicker.js' %}"></script>

        <!-- Select2 -->
        <script src="{% static gentelella_static|add:'select2/dist/js/select2.full.min.js' %}"></script>

        <!-- DataTables -->
        <script src="{% static gentelella_static|add:"datatables.net/js/jquery.dataTables.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-buttons/js/dataTables.buttons.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-buttons-bs/js/buttons.bootstrap.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-buttons/js/buttons.flash.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-buttons/js/buttons.html5.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-buttons/js/buttons.print.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-responsive/js/dataTables.responsive.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-responsive-bs/js/responsive.bootstrap.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-scroller/js/dataTables.scroller.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"jszip/dist/jszip.min.js" %}"></script>
    {% endwith %}

    <!-- DataTables -->
    <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>

    <script src="{% static "js/dateRangePickerOpt.js" %}"></script>
    <!-- This view -->
    <script src="{% static 'carrier/js/userActivities.js' %}"></script>
{% endblock %}
